/* @media screen and (max-width: 1180px) {
  #wpforms-form-56 {
    padding-left: 40%;
  }
}
@media screen and (max-width: 750px) {
  #wpforms-form-56 {
    padding: 0 20%;
  }
}
@media screen and (max-width: 500px) {
  #wpforms-form-56 {
    padding: 0 10%;
  }
}
@media screen and (max-width: 400px) {
  #wpforms-form-56 {
    padding: 0%;
  }
} */
